<title>Your SSE Compliance & Impact Finance Partner | DR Associates</title>
<meta
  name="description"
  content="Learn about DR Associates—founded to help mission-driven NGOs and impact investors connect through India's Social Stock Exchange. Know our story and vision."
/>
<meta
  name="keyword"
  content="Regulatory Compliance & Filings, Guidance on Zero Coupon Zero Principal bond, Empowering NGOs, Guidance on Zero Coupon Zero Principal bond offerings, effective fundraising process"
/>
<meta name="robots" content="index,follow" />
<meta name="contact" content="+91 72650 67950" />
<meta name="distribution" content="Global" />
<meta name="rating" content="General" />
<meta name="revisit-after" content="1 days" />
<meta name="geo.placename" content="India" />
<meta name="author" content="DR Associates, info@drassociates.com" />
<meta
  name="og:title"
  content="Your SSE Compliance & Impact Finance Partner | DR Associates"
/>
<meta
  name="og:description"
  content="Learn about DR Associates—founded to help mission-driven NGOs and impact investors connect through India's Social Stock Exchange. Know our story and vision."
/>
<meta property="og:image" content="" />
<meta name="og:email" content="info@drassociates.com" />
<meta name="og:phone_number" content="+91 72650 67950" />
<meta name="og:url" content="https://www.drassociates.org.in/about" />
<meta name="twitter:card" content="" />
<meta name="twitter:site" content="" />
<meta name="twitter:creator" content="" />
<!-- on page seo ends  -->
<!-- <meta charset="utf-8" /> -->

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
