<style>
 .survey-cls { font-family: Arial, sans-serif; background: #ffffff;
             
             min-height: 100vh; margin: 0; }
      .survey-main-cls { background: #fff; padding: 2rem; border-radius: 12px;
             box-shadow: 0 4px 12px rgba(0,0,0,0.1);
             width: 100%; max-width: 1050px;
             position: relative;
             margin: 150px auto 220px;
    /* display: block;
    position: relative;
    margin: 0 auto; */
    /* top: 150px; */
    /* margin-bottom: 220px; */
  }
</style>
<body class="survey-cls">
    <main class="survey-main-cls">
<div className="bg-white rounded-xl shadow-lg p-0 overflow-hidden">
              <iframe
                src="https://kaironixsolution.com/survey/"
                className="w-full h-[900px] border-0"
                title="Contact Form"
              ></iframe>
            </div>
</main>
</body>
